.heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
}

.imageContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.heading {
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
}
.btnBox {
	display: flex;
	justify-content: center;
}

.margin-lr-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.margin-t-5 {
	margin-top: 5px;
}

.resultsAlign {
	text-align: center;
}
#countDown {
	text-align: center;
	margin-top: 25px
}
